
  .v4_117 {
    width: 100%;
    height: 100%;
    opacity: 1;
    position: relative;
    overflow: hidden;
  }
  .v4_118 {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(144,174,167,1), rgba(0,0,0,1));
    opacity: 1;
    position: relative;
  }
  .nameTitle {
    display: flex;
    color: rgba(255,255,255,1);
    position:absolute;
    font-family: Amiko;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    position: relative;
    overflow: hidden;
    justify-content: center;
  }
  .generateButton {
    display: flex;
    width: 100%;
    height:25%;
    opacity: 1;
    position: relative;
    overflow: hidden;
    justify-content: center;
  }
  .generate {
    width: 140px;
    height: 52px;
    background: rgba(55,185,76,1);
    opacity: 1;
    position: absolute;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    overflow: hidden;
    top: 10%;

    /*this is for the text*/
    font-family: 'Hind';
    font-style: normal;
    font-weight: 1000px;
    font-size: 20px;
    line-height: 32px;
    text-decoration: none;
    /* identical to box height */
  
    letter-spacing: 0.02em;
  
    color: #000000;
  }
  .v12_153 {
    width: 86px;
    color: rgba(0,0,0,1);
    position: relative;
    font-family: Amiko;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .text {
    display: flex;
    width: 100%;
    color: rgba(255,255,255,1);
    position: relative;
    font-family: Amiko;
    font-weight: Regular;
    font-size: 75px;
    opacity: 1;
    bottom:15%;
    justify-content: center;


  }
  .imageContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%
  }
  .image{
    width: 377px;
    height: 378px;
    background: url("../images/v5_256.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    bottom: 50%;
    box-shadow: 0px 6px 32px rgba(0, 0, 0, 0.20000000298023224);
    overflow: hidden;
  }
 
  .v12_157 {
    width: 135px;
    color: rgba(0,0,0,1);
    position: relative;
    font-family: Amiko;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .createPlaylistButton {
    width: 100%;
    height: 25%;
    opacity: 1;
    position: relative;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    top: 10%;
  }
  .createPlaylist {
    width: 170px;
    height: 52px;
    background: rgba(55,185,76,1);
    padding: 10px 10px;
    margin: 14px;
    opacity: 1;
    position: absolute;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    overflow: hidden;
    /*this is for the text*/
    font-family: 'Hind';
    font-style: normal;
    font-weight: 1000px;
    font-size: 20px;
    line-height: 32px;
    text-decoration: none;
    /* identical to box height */
  
    text-align: center;
    letter-spacing: 0.02em;
  
    color: #000000;
  }
  .link {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 1000px;
  font-size: 20px;
  line-height: 32px;
  text-decoration: none;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.02em;

  color: #000000;
  }
