
  .v10_428 {
    width: 100%;
    height: 1100px;
    background: url("../images/cage.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 10px 10px;
    margin: 10px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v2_2 {
    width: 100%;
    height: 1080px;
    background: rgba(30,30,30,1);
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 10px;
    overflow: hidden;
  }
  .v3_194 {
    width: 100%;
    height: 1080px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v3_196 {
    width: 100%;
    height: 719px;
    background: linear-gradient(rgba(144,174,167,1), rgba(0,0,0,1));
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v5_260 {
    width: 710px;
    height: 248px;
    background: url("../images/cage.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 101px;
    left: 103px;
    overflow: hidden;
  }
  .v3_240 {
    width: 422px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 86px;
    left: 288px;
    font-family: Allerta;
    font-weight: Regular;
    font-size: 90px;
    opacity: 1;
    text-align: left;
  }
  .v4_114 {
    width: 211px;
    height: 22px;
    background: url("../images/cage.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 215px;
    left: 288px;
    overflow: hidden;
  }
  .v3_243 {
    width: 153px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2px;
    left: 58px;
    font-family: Amiko;
    font-weight: Regular;
    font-size: 15px;
    opacity: 0.699999988079071;
    text-align: left;
  }
  .v3_244 {
    width: 51px;
    color: rgba(255,255,255,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Amiko;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v3_258 {
    width: 61px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 73px;
    left: 291px;
    font-family: Amiko;
    font-weight: Regular;
    font-size: 13px;
    opacity: 1;
    text-align: left;
  }
  .v5_262 {
    width: 259px;
    height: 248px;
    background: url("../images/cage.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 0px 6px 32px rgba(0, 0, 0, 0.20000000298023224);
    overflow: hidden;
  }
  .v5_261 {
    width: 100%;
    height: 494px;
    background: url("../images/cage.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 378px;
    left: 143px;
    overflow: hidden;
  }
  .v3_271 {
    width: 100%;
    height: 29px;
    background: url("../images/cage.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v3_273 {
    width: 12px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 21px;
    font-family: Amiko;
    font-weight: Regular;
    font-size: 16px;
    opacity: 0.699999988079071;
    text-align: left;
  }
  .v3_274 {
    width: 40px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3px;
    left: 49px;
    font-family: Amiko;
    font-weight: Regular;
    font-size: 12px;
    opacity: 0.699999988079071;
    text-align: left;
  }
  .v3_275 {
    width: 51px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3px;
    left: 711px;
    font-family: Amiko;
    font-weight: Regular;
    font-size: 12px;
    opacity: 0.699999988079071;
    text-align: left;
  }
  .v3_276 {
    width: 93px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3px;
    left: 408px;
    font-family: Amiko;
    font-weight: Regular;
    font-size: 12px;
    opacity: 0.699999988079071;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v3_460 {
    width: 100%;
    height: 444px;
    background: url("../images/cage.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 50px;
    left: 0px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }